html, nav, body, section, article, ul, li, h1, h2, p, strong, em, button, input, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style-type: none;
}

@font-face {
  font-family: 'New Super Mario Font (Mario Party 9)';
  src: url(new-super-mario-font-mario-party-9.ttf) format('ttf');
}

body {
  background: blue;
}

canvas {
  border: 5px solid white;
  margin-bottom: 20px;
}

ul {
  margin-top: 10px;
  width: 1000px;
  height: 50px;
  background: grey;
  margin: auto;
  font-family: sans-serif;
  border: 5px solid white;

}

a {
  padding: 15px;
  float: right;
  text-decoration: none;
  color: black;
}

p {
  padding: 15px;
  float: left;
}
